.body {
    display: flex;
    font-weight: wrap;
    margin-top: 40px;

    a {
        text-decoration: none;
        color: black;
        font-size: 32px;
        font-weight: 300;
        padding-left: 10px;
        padding-top: 30px;
        text-transform: uppercase;
    }
}