.footer {
    display: flex;
    font-size: 12px;
    margin-top: 40px;
    font-weight: wrap;
    align-items: flex-end;
    text-transform: uppercase;
    ul {
        list-style-type: none;
        padding: 0;
        width: 50%;
        overflow: hidden;
    }

    li {
        span {
            color: #9f9689;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .footer {
        justify-content: space-between;

        ul {
            width: auto;
        }
    }
}