.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3rem);
    margin-bottom: 100vh;
    overflow: hidden;
    z-index: 2;
    position: relative;
    background-color: rgb(18, 16, 22)
}

.body {
    width: 40vw;
    color: white;
}

.line {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-size: 5vw;
    font-family: Inter, sans-serif;
}

.line p {
    margin: 0px;
}

.line:nth-of-type(5), .line:nth-of-type(6) {
    display: inline-flex;
}

.line:nth-of-type(6) {
    position: relative;
    left: 30px;
}

.background {
    background-color: black;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: opacity 0.5s;
}