.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3rem);
    overflow: hidden;
    z-index: 2;
    position: relative;
    background-color: #e3e4ec;
}

.body {

}