.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20vw;
  margin-top: 20vw;
  overflow: hidden;
  z-index: 2;
  position: relative;
}

.body {
  font-size: 5vw;
}

.body p {
  margin: 0px;
  font-weight: 700;
  transform: translateY(50%);
}

.linemask {
  overflow: hidden;
}
