.main {
    display: flex;
    height: calc(100vh - 3rem);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    position: relative;
    margin-bottom: 1000vh;
    color: rgb(211, 211, 211);
    background-color: #121418;
  }

  .body {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }

  .body p{
    font-size: 3.5vw;
    margin: 0px;
    margin-right: 1.5vw;
    font-weight: 700;
  }

  .body span {
    opacity: 0.2;
  }