.project {
  display: flex;
  width: 100%;
  padding: 50px 100px 50px 100px;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(201, 201, 201);
  font-family: Inter, sans-serif;
  cursor: pointer;
  transition: all 0.2s linear;
}

.project h2 {
  font-size: 60px;
  font-weight: 400;
  margin: 0px;
  transition: all 0.2s linear;
}

.project p {
  font-weight: 300;
  transition: all 0.2s linear;
}

.project:hover, 
.project:focus {
    opacity: 0.4;
}

.project:hover h2, 
.project:focus h2{
    transform: translateX(-10px);
}

.project:hover p, 
.project:focus p{
    opacity: 0.4;
    transform: translateX(10px);
}