.imageContainer {
    width: 400px;
    position: relative;
}

.imageContainer img {
    width: 100%;
    height: auto;
    image-rendering: pixelated;
}

.imageContainer canvas {
    position: absolute;
    top: 0;
    left: 0;
}