.line {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    font-size: 5vw;
    font-family: Inter, sans-serif;
}

.line p {
    margin: 0px;
}

.line:nth-of-type(5), .line:nth-of-type(6) {
    display: inline-flex;
}

.line:nth-of-type(6) {
    position: relative;
    left: 30px;
}