.container {
    position: relative;
    z-index: 2;
    background-color: #f2eae4;
    overflow: hidden;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    gap: 100px;
}